$content-background-color: #1b202b;
$content-color: snow;

$sidebar-color: darkgray;

$navigation-background: #2b303b;
$navigation-link-color: #fafafa;

$sidebar-border: 1px solid rgba(0,0,0,0.50);

$accent-color: darkblue;

$disable-prism: true;
